.header-menu.menu-layout2, .main-banner-box-layout1, .listing-wrapper.row.item {
    direction: rtl;
}
.classified_home_page, footer.footer {
    direction: rtl;
}
.dropdown.me-4 {
    margin-right: 0px !important;
    margin-left: 0.4rem;
}
ul.nav.nav-tabs {
    float: right;
}
.pupular-cat .product-box-layout1 {
    text-align: right;
}
.float-start {
    float: right !important;
    direction: rtl;
}
.float-end {
    float: left !important;
}
.mobile-menu-nav-back {
    float: right;
}
.dropdown-item {
    text-align: right;
}
.dropdown-menu.show {
    right: 0px;
}
.product-filter-heading .dropdown-menu.show {
    left: 0px; right: auto;
}
.col-lg-3.d-flex.justify-content-end.dropdown-login {
    justify-content: flex-start !important;
}
.product-filter-heading .product-sorting .layout-switcher ul li {
    margin-left: 0px;
    margin-right: 0.7rem;
}
.product-filter-heading .product-sorting .ordering-controller .ordering-btn:after {
    padding-left: 0px;
    padding-right: 0.3125rem;
}
.product-inner-wrap-layout1 {
    direction: rtl;
}
.widget-accordian .accordion-box .card .card-header .parent-list {
    display: block;
    align-items: flex-start;
    text-align: right;
}
.widget-accordian .accordion-box .card .card-header .parent-list:after {
    left: 4px;
    right: auto;
}
.dropdown-login .header-action-layout1 ul .header-btn a.item-btn.has-dropdown {
    padding: 14px 0.7rem !important;
    width: 100px;
}
.widget-accordian .accordion-box .card .card-header .parent-list img {
    margin-right: 0px;
}
.login-1 h2 {
    text-align: right;
}
.col-md-12.rtcl-login-form-wrap.login-1 {
    direction: rtl;
}
.widget-filter .accordion-box .filter-item-list>.card-header>.parent-list:after {
    left: 19px !important;
    right: auto;
}
.mean-container .mean-nav>ul>li>a {
    text-align: right;
}
.about-wrap-layout1 {
    direction: rtl;
}
.item-img {
    text-align: left;
}
.about-box-layout1 h2.item-title {
    text-align: right;
}
.about-box-layout1 p.item-title {
    text-align: right;
}
.light-shadow-bg .light-box-content {
    direction: rtl;
}
.contact-page-box-layout1 .contact-info ul li i {
    margin-right: 0px;
    margin-left: 0.7rem;
}
.single-product-box-layout1 .product-info .product-content .single-entry-meta ul li i {
     margin-right: 0px;
    margin-left: 0.6rem;
}
.single-product-box-layout1 .product-info .product-content .item-details-2 .right-side-content .item-action li i {
    margin-right: 0px;
    margin-left: 0.9rem;
}
.product-box-layout1 .item-content .entry-meta li i {
    margin-right: 10px;
    float: left;
    line-height: 2;
}
 .search-box-layout1 form .form-group .input-search-btn:after {
        left: 0px;
        right: auto;
    }

 #dLabel {
        text-align: right;
    }
    .search-box-layout1 .dropdown-menu li{ text-align: right; }
.single-product-box-layout1 .product-info .product-content .single-entry-meta ul li i {
    margin-right: 14px;
    margin-left: 10px;
    float: left;
    line-height: 2.1;
}
.right-side-content i.fas.fa-share-alt {
    transform: rotate(180deg);
}
.form-check {
    padding-left: 0px;
    padding-right: 1.5em;
}
.login-1 .form-group label {
    margin-left: 0px;
    margin-right: 8px;
}
.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input,
 .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel]{ text-align: left; }

.iti__country-list{text-align: right; left: 0px; right: auto;}
ul#country-listbox li{ text-align: right; }

.widget-accordian .accordion-box .card .card-header .parent-list img {
    margin-right: 0px;
    margin-left: 13px;
}


i.fa.fa-tags {
    float: right !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
}


@media only screen and (min-width: 320px) and (max-width: 991px) {
    a.meanmenu-reveal {
        left: 0px !important;
    }
    .item-img {
        text-align: center;
    }
    .footer-widget-title h5{ text-align: right; }
    #dLabel {
        text-align: right;
    }
    .search-box-layout1 form.form-group .input-search-btn:after {
        left: 0px;
        right: auto;
    }
    .mean-container .mean-bar .mobile-menu-nav-back:before {
        background: #fff !important;
    }
    .pupular-cat .product-box-layout1 {
        height: 100%;
        margin-bottom: 49px;
    }
    .mean-container .mean-bar .mobile-menu-nav-back {
        border-bottom: none;
    }
    .buy-btn{ margin-bottom: 18px; }
    .footer-widget-title h5:before{     margin-right: 0px;
    margin-left: 10px; }
}
@media only screen and (min-width: 992px) and (max-width: 1800px) {
    .search-box-layout1 form .form-group .input-search-btn:after {
        left: 0px;
        right: auto;
    }
    .justify-content-end {
        justify-content: flex-start !important;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1400px) {
    .dropdown.me-4 {
        margin-right: 1rem !important;
        margin-left: 0px !important;
    }
    .col-lg-3.d-flex.justify-content-end.dropdown-login {
        justify-content: flex-end !important;
    }
    .dropdown-login .header-action-layout1 ul .header-btn a.item-btn.has-dropdown {
        padding: 14px 0.8rem !important;
        width: 100px;
        margin-right: 21px;
    }
    button#dropdownMenuButton {
        margin-left: 0px;
    }
     .footer-widget-title h5:before{     margin-right: 0px;
    margin-left: 10px; }
    .footer-widget-title h5 {
    text-align: right;
    }
}
@media only screen and (min-width: 1401px) and (max-width: 1800px) {
    .justify-content-end {
        flex-start !important;
        margin-left: 0px;
    }
    .col-lg-3.d-flex.justify-content-end.dropdown-login {
        justify-content: flex-end !important;
    }
     .footer-widget-title h5:before{     margin-right: 0px;
    margin-left: 10px; }
     .footer-widget-title h5 {
    text-align: right;
    }
}