/* width */

::-webkit-scrollbar {
    width: 5px;
}
/* Track */

::-webkit-scrollbar-track {
    background: #c2d9ed;
}
/* Handle */

::-webkit-scrollbar-thumb {
    background: #2259e7;
    border-radius: 5px;
}
/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.terms:hover {
    text-decoration: underline;
    cursor: pointer;
}
.custom-footer {
    padding: 0px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    color: #747e96;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #747e96;
}
.separator:not(:empty)::before {
    margin-right: .85em;
}
.separator:not(:empty)::after {
    margin-left: .85em;
}
.modal-title {
    color: #2259e7;
}
.modal-header {
    border: none;
}
.modal-footer {
    border: none;
}
.main-pad {
    padding: 20px;
}
.main-body {
    background: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
}
a.lan-guage {
    background: white !important;
    color: black !important;
    border: none !important;
}
.lan-guage-img {
    max-width: 40px !important;
    padding-right: 10px !important;
}
.lan-guage-drop-a {
    border-bottom: 1px solid #f1f1f1 !important;
}
.lan-guage-eng {
    max-width: 40px !important;
    padding-right: 10px !important;
}
.main-con {
    max-width: 800px;
    background: white;
    padding: 10px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.main-con-2 {
    max-width: 800px;
    background: white;
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
    z-index: 10;
}
.pad-40 {
    padding-top: 40px;
}
.pad-30 {
    padding-top: 30px;
}
.pad-10 {
    padding-top: 10px;
}
.pad-0 {
    padding: 0px;
}
.pad-bot-20 {
    padding-bottom: 20px;
}
.mar-20 {
    margin-top: 20px;
}
.h3-blue {
    color: #2259e7;
    font-weight: bold;
}
.second-btn {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-black {
    color: black;
}
.modal-title {
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
}
.modal-row {
    background: #eaf2f9;
    padding: 20px;
    max-height: 500px;
    overflow-y: scroll;
    border-radius: 5px;
}
.modal-h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: #303030;
    text-align: justify;
}
.border-radius-10 {
    border-radius: 10px !important;
}
.radio-new {
    background: #e8f3ff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 20px 20px 20px;
}
.intl-tel-input {
    display: table-cell;
}
.intl-tel-input .selected-flag {
    z-index: 4;
}
.intl-tel-input .country-list {
    z-index: 5;
}
.input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
}
@media (max-width: 1200px) {
    .custom-footer {
        padding: 0px;
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}
.language-changer {
    position: absolute;
    right: 8px;
    top: 5px;
}
.language-changer>a>span {
    color: #829ab0;
}
.language-changer>a {
    border: #829ab075 solid 1px;
}
.selected-language {
    width: 20px;
    margin-right: 5px;
}
.country-wrap .dropdown-item img {
    width: 20px;
    margin-right: 5px;
}